[Desktop Entry]
Categories=Network;InstantMessaging;
Comment=Komunikator
Exec=/usr/bin/discord
GenericName=Komunikator
Icon=discord
Name=Discord
NoDisplay=false
Path=/usr/bin
PrefersNonDefaultGPU=false
StartupNotify=true
StartupWMClass=discord
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
